.CodeMirror {
    border: 1px solid #eee;
    height: auto;
    width: 96%;
    margin: 0 auto
}

#cellpad {
    overflow: scroll;
    height: 90vh;
    width: 100%;
}

body {
    overflow: hidden;
}

.cell-div-outer {
    padding : 1px 1px 1px 1px;

}

.cell-div-main {
    border-style : solid;
    border-radius: 0.5em;
    border-color : #FFFFFF;
    border-width : 1px;

    padding : 3px 3px 3px 3px;
    margin  : 0 auto;
    width   : 90%;
    display : inline-block;
}

.cell-loc-area {
    color   : gray;
    display : inline-block;
    padding : 10px;
}

.result-area {
    /* pre-wrap is for showing strings as shown */
    white-space : pre-wrap;
    margin-left : 50px;
}
